* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a{
	text-decoration: none;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
nav {
	margin: 50px 0;
}
ol {
	list-style-type: none;
}
li {
	width: 100%;
	padding: 20px 0 20px 20px;
}
li:nth-child(odd) {
	background-color: #acabab;
}
.main-box {
	width: 960px;
	margin-bottom: 50px;
}
.box1 {
    float: left;
	background-color: orange;
	width: 30%;
	height: 200px;
	margin-right: 5%;
	margin-bottom:40px;
}
.box2 {
    float: left;
	background-color: yellow;
	width: 30%;
	height: 200px;
	margin-right: 5%;
	margin-bottom:40px;
}
.box3 {
    float: left;
	background-color: yellow;
	width: 30%;
	height: 200px;
	margin-bottom:40px;
}
.box4 {
    float: left;
	background-color: yellow;
	width: 30%;
	height: 200px;
	margin-right: 5%;
	margin-bottom:40px;
}
.box5 {
    float: left;
	background-color: orange;
	width: 30%;
	height: 200px;
	margin-right: 5%;
	margin-bottom:40px;
}
.box6 {
    float: left;
	background-color: yellow;
	width: 30%;
	height: 200px;
	margin-bottom:40px;
}
.box7 {
    float: left;
	background-color: yellow;
	width: 30%;
	height: 200px;
	margin-right: 5%;
}
.box8 {
    float: left;
	background-color: yellow;
	width: 30%;
	height: 200px;
	margin-right: 5%;
}
.box9 {
    float: left;
	background-color: orange;
	width: 30%;
	height: 200px;
}
